streamlit
langchain
langchain-classic
langchain-community
langchain-chroma
langchain-ollama
langchain-core
langchain-huggingface
sentence-transformers
pypdf
python-docx
unstructured
chromadb
ollama
pdfminer.six
unstructured[pdf]
pdf2image
pymupdf
openpyxl
xlrd
unstructured[xlsx]
torch